@keyframes posi {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes change-color {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes progress {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes leftRight {
  0% {
    background-color: red;
  }
  100% {
    background-color: green;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity2 {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes colored {
  0% {
    fill: transparent;
  }
  100% {
    fill: #9356dc;
    stroke-width: 5px;
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
h1 {
  font-family: Shrikhand;
  font-size: 2.5em;
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
@media (min-width: 768px) {
  header {
    height: fit-content;
  }
}

button {
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 50px;
  padding: 1em 2em;
  color: white;
  font-size: 1.5em;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
button:hover {
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
}

body {
  font-family: roboto;
}

header {
  animation: opacity 1 ease-in-out 1s;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff79da;
  width: 120px;
  height: 120px;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  animation: spin 1s linear infinite, opacity2 1s ease-in-out;
}

main {
  animation: opacity 1 ease-in-out 1s;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

form {
  background-color: rgba(128, 128, 128, 0.3);
  text-align: center;
  box-shadow: inset 0 15px 10px -15px grey;
  padding: 20px;
}
@media (min-width: 768px) {
  form {
    width: fit-content;
    border-radius: 30px;
    align-self: flex-end;
    position: absolute;
    top: 10px;
    right: 20px;
  }
}
@media (min-width: 992px) {
  form {
    width: fit-content;
    border-radius: 30px;
    align-self: flex-end;
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

h3 {
  font-size: 1.2em;
}

.book {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-self: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
}
@media (min-width: 992px) {
  .book {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
  }
  .book h2 {
    width: 60%;
    order: 2;
  }
}

.function {
  padding: 20px;
  background-color: white;
}
@media (min-width: 992px) {
  .function h3 {
    text-align: center;
  }
}

main ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  counter-reset: my-sec-counter;
}
main ul :nth-child(3) {
  background-color: #f2eafb;
}
main ul :nth-child(3) i {
  color: #9356dc;
}
@media (min-width: 768px) {
  main ul {
    flex-direction: row;
    justify-content: center;
  }
}

main li {
  font-size: 1em;
  list-style-type: none;
  padding: 30px 10px 30px 50px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  box-shadow: 0px 7px 36px -14px rgba(0, 0, 0, 0.76);
}
main li::before {
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter);
  top: 20%;
  background-color: #9356dc;
  color: white;
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  position: absolute;
  left: -3%;
  border-radius: 50%;
}
@media (min-width: 768px) {
  main li::before {
    padding: 5px 12px 5px 12px;
    left: 3%;
    top: 25%;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 20px 20px 100px;
  gap: 20px;
}
.restaurants :nth-child(3) figcaption .heart .on {
  stroke: 0px;
  fill: #9356dc;
}
@media (min-width: 768px) {
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants h3 {
    width: 100%;
  }
  .restaurants figure {
    width: 48%;
    height: 25vw;
  }
}
@media (min-width: 992px) {
  .restaurants figure {
    width: 23%;
    height: 25vw;
  }
}

figure {
  background-color: #ffffff;
  width: 100%;
  height: 50vw;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  border-radius: 15px;
  position: relative;
}
figure::before {
  content: "Nouveau";
  top: 10%;
  background-color: #99e2d0;
  color: #278870;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  position: absolute;
  right: 5%;
  border-radius: 5%;
  width: fit-content;
}
figure img {
  height: 75%;
}

figcaption {
  padding: 5px;
  position: relative;
  height: 25%;
  overflow: hidden;
}
figcaption .heart {
  font-style: normal;
  top: -40%;
  width: 30px;
  height: 30px;
  left: 90%;
  position: relative;
}
figcaption svg {
  width: 100%;
  height: 25px;
  position: absolute;
}
figcaption .on {
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  z-index: 2;
}
figcaption .off {
  fill: #9356dc;
  z-index: 1;
  transform: scale(0);
}
figcaption .heart:hover .off {
  animation: scale 0.5s forwards, colored 0.5s linear;
}

h3 {
  font-size: 1em;
}

p {
  text-align: start;
}

footer {
  animation: opacity 1 ease-in-out 1s;
}

footer h1 {
  text-align: start;
  font-weight: 400;
  font-size: 25px;
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
  width: 100%;
}

footer i {
  width: 25px;
}

/*# sourceMappingURL=main_restaurants.css.map */
