@keyframes posi {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes change-color {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
@keyframes progress {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes leftRight {
    0% { background-color: red;}
    100% { background-color: green;}
    
 }


@keyframes opacity {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes opacity2 {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes colored {
    0% {
        fill: transparent;
    }
    100% {
        fill: $color_secondary;
        stroke-width: 5px;
    }
}
@keyframes scale {
    0% {
        transform: scale(0);
    }
  
    100% {
        transform: scale(1);
    }
}