@mixin minMedium {
    @media (min-width: 768px) {
        @content;
    }   
}
@mixin minSmall {
    @media (min-width: 992px) {
        @content;
    }   
}

@mixin overlay {
background-color: red;
}

@mixin animation_check {
    transform: rotate(0);
    transition: all 0.5s ease-in;
}
