footer h1 {
    text-align: start;
    font-weight: 400;
    font-size: 25px;
}
footer {
    background-color: #353535;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    
    

}
footer i {
    width: 25px;
}