h1 {
    font-family: Shrikhand;
    font-size: 4vw;
    
}
header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    @include minMedium {
    height: 5em;
    
    }
   
    @include minLarge {
        
    }
}
