body {
    font-family: roboto;
}

main {
    display: flex;
    flex-direction: column;
  background-color: $color_quaternary;
 
 @include minMedium {
    background-color: red;

}
@include minLarge {
    background-color: rgb(60, 0, 128);
}
}
form {
    background-color: rgba(grey, .3);
    text-align: center;
    box-shadow: inset 0 15px 10px -15px grey;
    padding: 20px;
    @include minMedium {
        width: fit-content;
        border-radius: 30px;
        align-self: flex-end;
        position: absolute;
        top: 10px;
        right: 20px;

    }
    @include minLarge {
        width: fit-content;
        border-radius: 30px;
        align-self: flex-end;
        position: absolute;
        top: 10px;
        right: 20px;
    }
}
h3 {
    font-size: 1.2em;
}
.book {
    display: flex;
    flex-direction: column;
    background-color: $color_quaternary;
    align-items: center;
    padding: 30px;
    gap: 10px;
    @include minMedium {
        background-color: white;
    }
    @include minLarge{
        
        flex-direction: row;
                justify-content: space-between;
        flex-wrap: wrap-reverse;
        h2 {
            width: 60%;
            order: 2;
        }
    }
}
.function {
    padding: 20px;
    background-color: white;
}


main ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    counter-reset: my-sec-counter;
        :nth-child(3) {
        background-color: lighten($color-secondary, 35%);
        
        i {
            color: $color-secondary;           
        }
    }
    @include minMedium {
        flex-direction: row;
        justify-content: center;
    }
}
main li {
    font-size: 1em;
    list-style-type: none;
    padding: 30px 10px 30px 50px ;
    background-color: $color_quaternary;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    box-shadow: 0px 7px 36px -14px rgba(0,0,0,0.76);
&::before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
            top: 20%;
            background-color: $color-secondary;
            color: white;
            font-size: 1em;
            padding: 10px 20px 10px 20px ;
            position: absolute;
            left: -3%;
            border-radius: 50%;
            @include minMedium {
                padding: 5px 12px 5px 12px ;
                left: 3%;
                top: 25%;
            }
}
}
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $color_quaternary;
    padding: 20px 20px 100px;
    gap: 20px;
    :nth-child(3) figcaption::after {
        -webkit-text-stroke: 0px;
        -webkit-text-fill-color: $color-secondary;
    }
    @include minMedium {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        h3 {
            width: 100%;
        } 
        figure {
            width: 48%;
            height: 25vw;
        }
    }
    @include minLarge {
           
        figure {
            width: 23%;
            height: 25vw;
        }
    }
}
figure {
    
    background-color: #ffffff;
    width: 100%;
    height: 50vw;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    border-radius: 15px;
    position: relative;
    &::before {
        content: "Nouveau";
        top: 10%;
        background-color: $color_tertiary;
        color: darken($color_tertiary, 40%);
        font-weight: bold;
        font-size: 18px;
        padding: 10px 20px 10px 20px;
        position: absolute;
        right: 5%;
        border-radius: 5%;
        width: fit-content;
    }
    img {
    height: 75%;
    }
}
figcaption {
    padding: 5px;
    position: relative;
    height: 25%;
    overflow: hidden;
    &::after {
        font-family: 'FontAwesome';
        content: "\f004";
        font-style: normal;
        bottom: 40%;
        font-size: 20px;
        position: absolute;
        right: 10%;
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: white;
     }
     &:hover::after {
        -webkit-text-stroke: 0px;
    -webkit-text-fill-color: $color-secondary;
    cursor: pointer;
     }
     &:active:hover {
        -webkit-text-fill-color: $color-secondary;
     }
     h3 {
        font-size: 1em;
        
     }
     p {
    text-align: start;
}
    }


i {
    width: 30px; 
    
}
